/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 5, 2022, 2:39:37 PM
    Author     : Luan Tuong Vy
*/

body {
    margin: 2%;
}

table {
    border-collapse: collapse;
    width: 50%;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

input[type=number] {
    width: 50%;
}

.input {
    width: min-content;
}

.input input {
    width: 100%;
}